# Supabase
SUPABASE_URL=https://inixrkdcipviqofuhgon.supabase.co
SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY

# RevenueCat (Premium)
REVENUECAT_IOS_API_KEY=YOUR_REVENUECAT_IOS_API_KEY
REVENUECAT_ENTITLEMENT_ID="Be Sober Pro"
